{% extends 'admin_templates/base.html' %}

{% load humanize %}

{% block title %} แบรนด์สินค้า - IT Shop {% endblock %}

{% block brand_button %}
<button
  class="w-full p-3 ps-4 rounded-md text-left text-white bg-gradient-to-bl from-purple-400 to-purple-900 hover:to-purple-500 hover:cursor-pointer">
  <i class="fa-solid fa-tag me-2"></i>
  <span class="font-regular">แบรนด์</span>
</button>
{% endblock %}

{% block head %}
<div class="flex justify-between items-center">
  <h1 class="text-2xl ms-1 text-gray-600">แบรนด์สินค้า</h1>
  <a href="{% url 'brand_create' %}">
    <button class="w-full p-2 rounded-md text-left bg-purple-700 text-white hover:bg-purple-600 hover:cursor-pointer">
      <i class="fa-solid fa-plus"></i>
      <span class="font-regular">เพิ่มแบรนด์</span>
    </button>
  </a>
</div>
{% endblock %}


{% block content %}
<table class="w-full">
  <thead>
    <tr class="border-b border-gray-300 text-sm text-left">
      <th class="p-4">ชื่อแบรนด์</th>
      <th class="p-4">รายละเอียด</th>
      <th class="p-4">จำนวนสินค้า</th>
      <th class="p-4">จัดการ</th>
    </tr>
  </thead>
  <tbody>
    {% for brand in brands %}
    <tr class="border-b border-gray-200 text-sm">
      <td class="p-4">{{ brand.name }}</td>
      <td class="p-4">
        {% if brand.description %}
        {{ brand.description|truncatechars:20 }}
        {% else %}
        -
        {% endif %}
      </td>
      <td class="p-4">{{ brand.product_count|intcomma }}</td>
      <td class="p-4">
        <a href="{% url 'brand_edit' brand.id %}">
          <button
            class="px-2 py-1 text-white bg-yellow-500 hover:bg-yellow-600/70 rounded-md text-sm hover:cursor-pointer">
            <i class="fa-solid fa-pencil-alt"></i>
            แก้ไข
          </button>
        </a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}