{% extends 'admin_templates/base.html' %}
{% load static %}

{% block title %} แก้ไขโค้ดส่วนลด - IT Shop {% endblock %}

{% block code_button %}
<button
    class="w-full p-3 ps-4 rounded-md text-left text-white bg-gradient-to-bl from-purple-400 to-purple-900 hover:to-purple-500 hover:cursor-pointer">
    <i class="fa-solid fa-ticket me-2"></i>
    <span class="font-regular">โค้ดส่วนลด</span>
</button>
{% endblock %}

{% block head %}
<div class="flex items-center gap-1 justify-between">
    <div class="flex items-center gap-1">
        <a href="{% url 'code' %}">
            <button type="button"
                class="border border-gray-300 hover:bg-gray-100 text-gray-400 bg-white rounded-md hover:cursor-pointer px-1">
                <i class="fa-solid fa-angle-left text-sm"></i>
            </button>
        </a>
        <h1 class="text-2xl ms-1 text-gray-600">แก้ไขโค้ดส่วนลด #{{form.instance.id}}</h1>
        {% if form.instance.is_active %}
        <div class="inline-flex items-center gap-1 ms-5 px-3 py-1 rounded-full bg-green-300 text-green-700 text-sm">
            <i class="fa-solid fa-circle-check"></i>
            เปิดใช้งาน
        </div>
        {% else %}
        <div class="inline-flex items-center gap-1 ms-5 px-3 py-1 rounded-full bg-red-300 text-red-600 text-sm">
            <i class="fa-solid fa-circle-xmark"></i>
            ปิดใช้งาน
        </div>
        {% endif %}
    </div>
    {% if form.instance.is_active %}
    <form action="{% url 'code_deactivate' form.instance.id %}" method="post">
        {% csrf_token %}
        <button type="submit"
            class="px-3 py-1 text-red-600 border-2 border-red-400 hover:bg-red-400 hover:text-white rounded-md hover:cursor-pointer transition duration-300">
            <i class="fa-solid fa-eye-slash"></i> ปิดใช้งาน
        </button>
    </form>
    {% else %}
    <form action="{% url 'code_activate' form.instance.id %}" method="post">
        {% csrf_token %}
        <button type="submit" 
            class=" px-3 py-1 text-green-600 border-2 border-green-500 hover:bg-green-500 hover:text-white rounded-md hover:cursor-pointer transition duration-300">
            <i class="fa-solid fa-eye"></i>
            เปิดใช้งาน
        </button>
    </form>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="px-12 py-10">
    {{ form.non_field_errors }}
    <form method="POST" class="py-3">
        {% csrf_token %}

        <div class="flex gap-5">
            <div class="w-4/6 border border-gray-200 p-5 rounded-md">
                <div class="pt-3 pb-1">
                    <label for="{{form.code.id_for_label}}"
                        class="block font-medium text-gray-700 mb-1">รหัสโค้ด</label>
                    {{ form.code }}
                    <div class="text-red-400 p-2">
                        <ul>
                            {% for error in form.code.errors %}
                            <li><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="pb-1">
                    <label for="{{form.code_type.id_for_label}}"
                        class="block font-medium text-gray-700 mb-1">ประเภทส่วนลด</label>
                    {{ form.code_type }}
                    <div class="text-red-400 p-2">
                        <ul>
                            {% for error in form.code_type.errors %}
                            <li><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="pb-1">
                    <label for="{{form.value.id_for_label}}"
                        class="block font-medium text-gray-700 mb-1">มูลค่าส่วนลด</label>
                    {{ form.value }}
                    <div class="text-red-400 p-2">
                        <ul>
                            {% for error in form.value.errors %}
                            <li><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="w-2/6 border border-gray-200 p-5 rounded-md flex flex-col">
                <div class="pt-3">
                    <label for="{{form.start_date.id_for_label}}"
                        class="block font-medium text-gray-700 mb-1">วันที่เริ่มต้น</label>
                    {{ form.start_date }}
                    <div class="text-red-400 p-2">
                        {% for error in form.start_date.errors %}
                        <div><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <label for="{{form.end_date.id_for_label}}"
                        class="block font-medium text-gray-700 mb-1">วันที่สิ้นสุด (optional)</label>
                    {{ form.end_date }}
                    <div class="text-red-400 p-2">
                        {% for error in form.end_date.errors %}
                        <div><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <label for="{{form.min_order_amount.id_for_label}}"
                        class="block font-medium text-gray-700 mb-1">ยอดสั่งซื้อขั้นต่ำ</label>
                    {{ form.min_order_amount }}
                    <div class="text-red-400 p-2">
                        {% for error in form.min_order_amount.errors %}
                        <div><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <label for="{{form.max_discount_amount.id_for_label}}"
                        class="block font-medium text-gray-700 mb-1">ส่วนลดสูงสุด (optional)</label>
                    {{ form.max_discount_amount }}
                    <div class="text-red-400 p-2">
                        {% for error in form.max_discount_amount.errors %}
                        <div><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-8 py-3 text-right">
            <a href="{% url 'code' %}">
                <button type="button"
                    class="border border-gray-300 hover:bg-gray-100 text-gray-400 px-6 py-2 rounded-md hover:cursor-pointer">
                    ยกเลิก
                </button>
            </a>
            <button type="submit"
                class="bg-purple-700 hover:bg-purple-600 text-white px-12 py-2 rounded-md hover:cursor-pointer">
                บันทึก
            </button>
        </div>
    </form>
</div>
{% endblock %}
