<header class="bg-white shadow-sm">
    <div class="mx-5 px-5 py-5">
        <div class="flex justify-between items-center">
            <a href="/owner">
                <h1 class="bg-gradient-to-r from-teal-400 to-teal-900 text-2xl font-extrabold inline-block text-transparent bg-clip-text hover:text-teal-500 duration-300">
                    GIGAGADGET
                    <p class="text-sm inline-block text-gray-400 font-light">
                        /Admin
                    </p>
                </h1>
                
            </a>
            <div class="flex justify-center items-center gap-2">
                <a href="/owner">
                    <button class="flex items-center space-x-1 px-5 py-2 hover:bg-gray-100 rounded-lg cursor-pointer ">
                        <i class="fa-solid fa-gauge text-gray-600 text-lg"></i>
                        <span class="text-gray-600 font-medium">แดชบอร์ด</span>
                    </button>
                </a>
                <a href="/owner/product">
                    <button class="flex items-center space-x-1 px-5 py-2 hover:bg-gray-100 rounded-lg cursor-pointer ">
                        <i class="fa-solid fa-box-open text-gray-600 text-lg"></i>
                        <span class="text-gray-600 font-medium">สินค้า</span>
                    </button>
                </a>
                <a href="/owner/order/">
                    <button class="flex items-center space-x-1 px-5 py-2 hover:bg-gray-100 rounded-lg cursor-pointer ">
                        <i class="fa-solid fa-receipt text-gray-600 text-lg"></i>
                        <span class="text-gray-600 font-medium">คำสั่งซื้อ</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</header>