{% extends 'customer_templates/base.html' %}
{% load humanize %}

{% block title %} คำสั่งซื้อของฉัน - IT Shop {% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto py-10">
    <div class="px-8 py-4 bg-white rounded-md border border-gray-200 flex justify-between mb-4">
        <p class="text-xl text-gray-800 flex items-center gap-2">
            <span class="text-gray-700 flex items-center">
                <i class="fa-solid fa-file-invoice"></i>
            </span>
            คำสั่งซื้อของฉัน
        </p>
    </div>

    <!-- Filter Status Buttons -->
    <div class="flex gap-4 mb-4 border border-gray-200 rounded-md p-5 bg-white text-center">
        <a href="{% url 'order_list' %}?status=ALL" 
           class="w-1/6 px-4 py-2 rounded-md text-sm font-medium {% if request.GET.status == 'ALL' or not request.GET.status %}bg-purple-500 text-white{% else %}bg-gray-200 text-gray-700 hover:bg-gray-300{% endif %}">
           ทั้งหมด
        </a>
        <a href="{% url 'order_list' %}?status=UNPAID" 
           class="w-1/6 px-4 py-2 rounded-md text-sm font-medium {% if request.GET.status == 'UNPAID' %}bg-purple-500 text-white{% else %}bg-gray-200 text-gray-700 hover:bg-gray-300{% endif %}">
           ยังไม่ชำระ
        </a>
        <a href="{% url 'order_list' %}?status=PENDING" 
           class="w-1/6 px-4 py-2 rounded-md text-sm font-medium {% if request.GET.status == 'PENDING' %}bg-purple-500 text-white{% else %}bg-gray-200 text-gray-700 hover:bg-gray-300{% endif %}">
           รอดำเนินการ
        </a>
        <a href="{% url 'order_list' %}?status=SHIPPING" 
           class="w-1/6 px-4 py-2 rounded-md text-sm font-medium {% if request.GET.status == 'SHIPPING' %}bg-purple-500 text-white{% else %}bg-gray-200 text-gray-700 hover:bg-gray-300{% endif %}">
           กำลังจัดส่ง
        </a>
        <a href="{% url 'order_list' %}?status=CANCELLED" 
           class="w-1/6 px-4 py-2 rounded-md text-sm font-medium {% if request.GET.status == 'CANCELLED' %}bg-purple-500 text-white{% else %}bg-gray-200 text-gray-700 hover:bg-gray-300{% endif %}">
           ยกเลิก
        </a>
        <a href="{% url 'order_list' %}?status=DELIVERED" 
           class="w-1/6 px-4 py-2 rounded-md text-sm font-medium {% if request.GET.status == 'DELIVERED' %}bg-purple-500 text-white{% else %}bg-gray-200 text-gray-700 hover:bg-gray-300{% endif %}">
           สำเร็จ
        </a>
    </div>

    <div class="border border-gray-200 rounded-md bg-white overflow-x-auto p-4 px-8 pb-8">
        <table class="w-full rounded-md text-gray-900">
            <thead>
                <tr class=" text-md">
                    <th class="p-3 py-4 border-b border-gray-300">หมายเลขคำสั่งซื้อ</th>
                    <th class="p-3 py-4 border-b border-gray-300">สถานะ</th>
                    <th class="p-3 py-4 border-b border-gray-300">วันที่สั่งซื้อ</th>
                    <th class="p-3 py-4 border-b border-gray-300">ยอดรวม</th>
                    <th class="p-3 py-4 border-b border-gray-300">ส่วนลด</th>
                    <th class="p-3 py-4 border-b border-gray-300">ยอดสุทธิ</th>
                    <th class="p-3 py-4 border-b border-gray-300">จัดการ</th>
                </tr>
            </thead>
            <tbody class="text-sm">
                {% for order in orders %}
                <tr class="border-b border-gray-200  text-center">
                    <td class="p-3 py-6">#{{ order.id }}</td>
                    <td class="p-3 py-6">
                        {% if order.status == "DELIVERED" %}
                        <div class="inline-flex items-center gap-1 px-3 py-1 rounded-full bg-green-300 text-green-700 text-xs">
                            <i class="fa-solid fa-circle-check"></i>
                            สำเร็จ
                        </div>
                        {% elif order.status == "CANCELLED" or order.payment.status == "REJECTED" %}
                        <div class="inline-flex items-center gap-1 px-3 py-1 rounded-full bg-red-300 text-red-700 text-xs">
                            <i class="fa-solid fa-circle-xmark"></i>
                            ยกเลิก
                        </div>
                        {% elif order.status == "SHIPPING" %}
                        <div class="inline-flex items-center gap-1 px-3 py-1 rounded-full bg-blue-300 text-blue-700 text-xs">
                            <i class="fa-solid fa-truck-fast"></i>
                            กำลังจัดส่ง
                        </div>
                        {% elif not order.payment %}
                        <div class="inline-flex items-center gap-1 px-3 py-1 rounded-full bg-gray-300 text-gray-700 text-xs">
                            <i class="fa-solid fa-money-bill"></i>
                            ยังไม่ชำระ
                        </div>
                        {% else %}
                        <div class="inline-flex items-center gap-1 px-3 py-1 rounded-full bg-yellow-200 text-yellow-700 text-xs">
                            <i class="fa-solid fa-hourglass-half"></i>
                            รอดำเนินการ
                        </div>
                        {% endif %}
                    </td>
                    <td class="p-3 py-6">{{ order.order_date|date:"d/m/Y H:i" }}</td>
                    <td class="p-3 py-6">฿{{ order.total_price|floatformat:-2|intcomma }}</td>
                    <td class="p-3 py-6">฿{{ order.discount_amount|floatformat:-2|intcomma }}</td>
                    <td class="p-3 py-6 text-purple-700 font-semibold">
                        ฿{{ order.final_price|floatformat:-2|intcomma }}
                    </td>
                    <td class="p-3 py-6 flex justify-center gap-3">
                        <a href="{% url 'order_detail' order.id %}" 
                           class="px-3 py-1 bg-purple-500 text-white rounded-md text-sm hover:bg-purple-600 hover:cursor-pointer">
                            <i class="fa-solid fa-eye text-xs me-1"></i>ตรวจสอบ
                        </a>
                        {% if not order.payment and order.status != "CANCELLED" %}
                        <a href="{% url 'payment' order.id %}" class="px-3 py-1 bg-green-600 text-white rounded-md text-sm hover:bg-green-500">
                            <i class="fa-solid fa-credit-card me-1 text-xs"></i>ชำระเงิน
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% if not orders %}
                <tr>
                    <td class="p-3 pt-10 text-center" colspan="7">ไม่มีคำสั่งซื้อ</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
